p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/*----- Agrego codigo para especificar la customización de los bloques--------*/
/*----- Se sigue la estrategia .div usada por Allison y Geocomputation--------*/

div.rmdnote, div.rmdcaution, div.rmdimportant, div.rmdtip, div.rmdwarning {
  padding: 1em;
  margin: 1em 0;
  padding-left: 100px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: 15px 1.5em;
  min-height: 120px;
  background-color: #ecf0f9;
  max-width: 100%;
  font-size: 0.85em;
  letter-spacing: 1pt;
}
div.rmdnote {
  background-image: url("../Inputs/Images/papiro.png");
}
div.rmdcaution {
  background-image: url("../Inputs/Images/caution.png");
}
div.rmdimportant {
  background-image: url("../Inputs/Images/importante.png");
}

div.rmdtip {
  background-image: url('tip.png');
}
div.rmdwarning {
  background-image: url("../Inputs/Images/peligro_electrico.png");
}